body{
    font-family:Segoe UI;
    background-color: #fff;
}

section{
    padding:70px 0;
}

/* HERO */
.hero {
    background: url("background img 1.jpg") center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    color: white;
}

.hero-box {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
}



/* SERVICES */
.services {
  padding: 60px 40px;
  text-align: center;
}

.services h2 {
  color: #161717;
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  max-width: 700px;
  margin: auto;
  color: #666;
  margin-bottom: 40px;
}

/* Grid Layout */
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* Card Styling */
.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card h4 {
  margin: 15px 0 5px;
  color: #333;
}

.card p {
  padding: 0 15px 20px;
  color: #777;
  font-size: 14px;
}


/* ABOUT */
.about-img{
    width:100%;
    border-radius:10px;
}

/* DOCTORS */
.doctor-card img{
    width:200px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:10px;
}

.doctor-card {
    background: #fff;
    border: 2px solid #edeaea;     /* Border */
    border-radius: 12px;            /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);  /* Shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Optional hover effect (looks modern) */
.doctor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* Image styling */
.doctor-card img {
    width: 150px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #1a1a1c; /* Optional accent border */
}


/* FOOTER */
footer{
    background:#0f8c8c;
    color:white;
    text-align:center;
    padding:20px;
}
